<p id="notice"><%= notice %></p>

<h1>Books</h1>

<%= form_with url: 'search' do |f| %>
  <%= f.text_field :name, placeholder: 'Search by name' %>
  <%= f.submit 'Find' %>
<% end %>

<br>
<%= link_to 'Book index', books_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <%= render 'books', books: @books %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>